{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-white">Welcome, Librarian!</h2>
    <div class="row mt-4">
        <div class="col-md-4 mb-3">
            <a href="{% url 'search_books' %}" class="btn btn-info w-100">Search Books</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="{% url 'borrow_book' %}" class="btn btn-warning w-100">Borrow Book</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="{% url 'return_book' %}" class="btn btn-success w-100">Return Book</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="{% url 'register_client' %}" class="btn btn-secondary w-100">Register New Client</a>
        </div>
    </div>
</div>
{% endblock %}
